.board-slot-container {
    position: relative;
    float: left;
    width: 11.1%;
    padding-bottom: 11.1%;
    background-color: white;
}

.board-slot-content {
    position: absolute;
    left: 0;
    top: 0;
    width: 90%;
    height: 90%;
    border-radius: 10%;
    margin: 5%;
    display: -webkit-flex;
    -webkit-flex-wrap: wrap;
    display: flex;
    flex-wrap: wrap;
    transition: background-color 0.1s;
}

.board-slot-content.now-free-light {
    background-color: burlywood;
}

.board-slot-content.now-free-dark {
    background-color: rgb(156, 130, 95);
}

.board-slot-content.now-filled {
    background-color: rgb(36, 36, 36);
}

.board-slot-content.future-filled {
    background-color: rgba(36, 36, 36, 0.75);
}

.board-slot-content.future-freed {
    background-color: rgb(255, 217, 0);
}

.shape-container {
    position: relative;
    float: left;
    width: 33.3%;
    padding-bottom: 33.3%;
}

.shape-content {
    position: absolute;
    left: 0;
    top: 0;
    width: 90%;
    height: 90%;
    background-color: white;
    margin: 5%;
    display: -webkit-flex;
    -webkit-flex-wrap: wrap;
    display: flex;
    flex-wrap: wrap;
}

.shape-slot-container {
    width: 20%;
    height: 20%;
    border: 1px solid white;
    display: table;
}

.shape-slot-content {
    border-radius: 10%;
    line-height: 100%;
    font-size: 50px;
    font-weight: bold;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.shape-slot-free {
    background-color: burlywood;
}


.shape-slot-full {
    background-color: black;
}